body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    /*background-color: black;*/
}

.logInsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeSection{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcomeLine{
    font-size: 20px;
    font-weight: bold;
}

.imgContainer{
    width: 170px;
    height: 170px;
}

.welcomeSection img{
    width: 100%;
    height: 100%;
}

.welcomeSection h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slogan{
    margin-top: 0;
    padding: 0;
}

.homeSection{
    display: flex;
    flex-direction: column;
}

header{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.logoContainer{
    width: 73px;
    height: 90%;
    display: flex;
    /*background-color: black;*/
}

.logoContainer img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

h2{
    margin-top: 30px;
    display: inline;
    font-size: 22px;
}

#buttonLogOut{
    margin-top: 15px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: black;

    font-size: 18px;
    
    color: aliceblue;
}

#advise{
    margin-top: 70px;
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    /*background-color: rgb(226, 214, 43);*/

}

.containerWords{
    width: 100vw;
    margin-top: 0;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color: rgb(0, 162, 255);*/
}

.containerWords p{
    display: inline;
    margin-top: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: rgb(14, 13, 13);

    font-size: 25px;

}

.allPostSection{
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(228, 199, 39, 0.699);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.postSection{
    width: 60vw;
    height: 20vh;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*background-color: rgb(174, 216, 78);*/
}

#postText{
    width: 90%;
    height: 100%;
    padding: 20px;
    border: 1px transparent;
    border-radius: 15px;
    background-color: transparent;

    font-size: 22px;

    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

#submitBotton{
    width: 20%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(77, 77, 77);
    border-radius: 10px;

    font-size: 18px;
    color: rgb(253, 253, 253);
    background-color: rgb(0, 0, 0);
}

.paintAllPosts{
    /*margin-top: 40px;*/
    width: 60vw;
}

.containerPost{
    margin-top: 30px;
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    border: 2px solid;
    border-color: rgb(77, 77, 77);
    border-radius: 10px;
}

.author{
    position: relative;
    margin-top: -50px;
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(254, 254, 255);
}

.textWrote{
    margin: 0 auto;
    padding: 10px;
}

.btnDelete{
    width: 50px;
    height: 25px;
    margin-top: 25px;
    margin-right: 10px;
    border-color: rgb(212, 57, 57);
    border-radius: 10px;
    background-color: transparent;

    font-size: 14px;
    
}

.btnEdit{
    width: 50px;
    height: 25px;
    margin-top: 25px;
    margin-right: 10px;
    border-color: rgb(57, 98, 212);
    border-radius: 10px;
    background-color: transparent;

    font-size: 14px;
}
